body {
    font-family: 'inter', sans-serif;
    margin: 0;
}

h1 {
  font-family: 'playfair', serif;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Playfair Display', serif; 
  font-weight: 100;
  margin-bottom: 48px;
}

h4 , p {
  font-family: 'Inter', sans-serif;
}


.header {
    background-image: url(images/bgk-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.logo-nav {
    display: flex;
    justify-content: space-around;
}

.headerlogo {
    display: flex;
    color: #52C3C0;
    
}

.headerlogo p {
  color: #52C3C0;
  font-size: 30px;
  font-weight: 100;
  margin: 0 0 0 15px;
}

.navbar a {
  font-weight: bold;
  font-size: 12px;
}

.navbar a:hover {
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
}

ul {
    columns: 8;
    list-style: none;
}

.headerüberschrift {
    display: flex;
    justify-content: center;
    margin: 80px 50px -15px 50px;
    color: white;
}

.headerartikel {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    color: white;
    margin-top: 30px;
    text-align: center;   
    line-height: 1.8em; 
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.home {
    color: #52C3C0;
}

.headerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;    
}

button {
    background-color: transparent;
    color: #52C3C0;
    border: 1px solid #52C3C0;
    padding: 8px 8px 8px 8px;
    font-weight: 700;
}

/* Story */

.storysection {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.storylogo {
    display: flex;
    margin: 20px 50px 50px 70px;
}

.storyartikel {
    display: flex;
    flex-direction: column;  
    margin-left: 80px;  
}

.storyartikel p {
  color: black;
  margin: 0 0 30px 0;
}

.storyartikel h2 {
  margin-bottom: 30px;
}

.watchsection {
    background-image: url(images/bgk-middle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.videobutton {
    display: flex;
    justify-content: center;
}

.videobutton img {
    width: 70px;
    height: 70px;
}

.videotext {
    display: flex;
    justify-content: center;
    color: white;
}

.watchbody {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
  width: 75%;
  margin: 0 auto;
}

#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 90px;
}

/* Expertise */

.expertise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.first-section-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.first-section-part h2 {
  font-size: 1.8em;
  margin: 0;
}

.first-section-part p {
  font-family: 'playfair', serif;
}

.expertise-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 0 50px 0;
}

.expertise-box {
  text-align: center;
  padding: 20px 35px 20px 10px;
}

.expertise-box img {
  margin-top: 20px;
}

.border-right {
  border-right: solid 1px lightgray;
}

.border-bottom {
  border-bottom: solid 1px lightgray;
}

/* Team */

.team-section {
  background-image: url(images/bkg-team.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  margin: 40px auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.color-white {
  color: #fff;
}

.team-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 width: 70%;
 margin: 60px auto 40px auto;
}

.team-box {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.white-box {
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.white-border-box {
  border: solid 0.5px #fff;
  text-align: center;
  color: #fff;
}

.white-border-box h4 {
  margin-bottom: 5px;
}

.white-border-box p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
}

.team-button {
  width: 200px;
  margin: 40px auto 0 auto;
}

.team-text {
  margin: 20px auto 0 auto;
  color: #fff;
}

/*contact */

.container {
  margin-top: 70px;
}

.contact {
  width: 45%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  height: 30px;
  margin-bottom: 15px;
  padding-left: 10px;
  border: solid 1px grey;
  color: lightgray;
}

::placeholder {
  color: gray;
}

#message {
  color: gray;
  border: solid 1px gray;
  font-family: 'Inter', sans-serif;
  padding: 10px 0 0 10px;
}

#submit-button {
  color: #52C3C0;
  font-weight: bold;
  font-family: sans-serif;
  background-color: transparent;
  border: solid 1px #52C3C0;
  width: 100px;
  height: 30px;
  margin-top: 15px;
}

.clients {
  width: 45%;
}

.client-logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 100px;
}

.client-logo {
  text-align: center;
  max-width: 200px;
  display: flex;
  align-items: center;
}

.client-logo img {
  max-width: 100%;
}

/* Footer */

footer {
  background-image: url("images/bgk-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  position: relative;
  width: 100%;
  height: 500px;
}

.footer-container {
  width: 100%;
  display: flex;
  align-content: center;
  margin: 60px 0 40px 0;
}

.footer-container h4 {
  color: #fff;
}


.footer-container p {
  color: #fff;
}

/* Footer linker Bereich mit Logo und Text */

.footer-logo-text {
  width: 40%;
  margin: 100px 50px 0 0;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 80px;
}

.gradient-text {
  font-family: 'Inter', sans-serif;
  color: #52C3C0;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 0 15px;
}

.footer-logo-text p {
  line-height: 2em;
  font-weight: 200;
}

/* Footer mittlerer Bereich mit Kontaktdaten */

.footer-our-studio {
  width: 32%;
  margin: 120px 0 0 0;
} 

.studio {
  margin-bottom: 50px;
}

.footer-our-studio p {
  line-height: 2em;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.footer-image-container {
  margin-right: 12px;
  line-height: 2em;
}

.address {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.phone-number {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.phone-number p {
  font-weight: 200;
}

/* Footer rechter Bereich mit Newsletteranmeldung */

.stay-in-touch {
  width: 25%;
  margin: 120px 0 0 0;
} 

.stay-in-touch h4 {
  margin-bottom: 50px;
}

.newsletter-container {
  width: 100%;
  display: flex;
  align-content: center;
  margin: 60px 0 30px 0;
}

#newsletter {
  width: 80%;
  height: 30px;
  padding-left: 30px;
  background-color: transparent;
  border: solid 0.8px #fff;
  color: white;
  font-family: 'Inter', sans-serif;
}

#newsletter-button {
  width: 17%;
  height: 34px;
  background-color: #fff;
  opacity: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  border: none;
}

#newsletter-button:hover {
  background-color: #52C3C0;
  opacity: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  border: none;
}

#newletter-button img {
  margin: 0;
}

.icon-social-media {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/* footer letzte Zeile mit Navbar und Copyright */

.footer-last-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.footer-navbar a {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.footer-navbar a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#copyright {
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  color: white;
}

